@media(max-width:1200px){
    html{
        font-size: 7px;
    }

}
@media(max-width:992px){

    .main-menu{
        display: none;
    }
    .get-started{
        padding:10px 30px;
    }
    .main-text{
        top:30%;
        max-width:440px;
        left: calc(50% - 220px);
    }
    .main-text p{
        margin-bottom: 40px;
    }
    .box{
        margin-bottom: 30px;
    }
    .owl-next {
        right: 50px;
    }

    .owl-prev {

        left: 50px;

    }
}
@media(max-width:768px){
    .get-started{
        padding:7px 20px;
        font-size: 10px;
    }
    .main-text p{
        margin-bottom: 20px;
    }
    .main-text h3{
        font-size: 4.2rem;
    }
    .main-text h5{
        font-size: 2.6rem;
    }
    .wordpress-theme h2{
        font-size: 2.3rem;
    }
    .project-item{
        margin-right: 7px;
        font-size: 12px;
        padding:5px 10px;

    }
    .owl-next {
        right: 20px;
    }

    .owl-prev {

        left: 20px;

    }
}